body {
  text-align: center;
  background-image: url(images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-image: linear-gradient(to right, red,#FEF2BF);
}

.green {
  background-image: linear-gradient(to right, green,#FEF2BF);
}

.blue {
  background-image: linear-gradient(to right, blue,#FEF2BF);
}

.yellow {
  background-image: linear-gradient(to right, yellow,#FEF2BF);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
